.features{
    margin-top: 50px;
    padding-top: 150px; 
    .features-wrapper{
        .header{
            h1{
                text-align: center;
                font-family: "Roboto";
                font-weight: 500;
                color: #0B0B0B;
            }
            p{
                max-width: 837px;
                margin-right: auto;
                margin-left: auto;
                text-align: center;
                margin-top: 24px;
                color: #787878;
                font-family: "Roboto";
                font-weight: 400;
            }
        }

        .partners{
            padding-top: 140px;
            padding-bottom: 50px;
            h1{
                text-align: center;
                font-family: "Roboto";
                font-weight: 500;
                color: #0B0B0B;
            }
            p{
                max-width: 837px;
                margin-right: auto;
                margin-left: auto;
                text-align: center;
                margin-top: 24px;
                color: #787878;
                font-family: "Roboto";
                font-weight: 400;
            }
            ul{
                display: flex;
                justify-content: space-between;
                list-style: none;
                margin-top: 60px;
                li{
                    transition: all 0.3s ease;
                    &:hover{
                        transform: scale(1.03);
                    }
                }
            }
            
        }
    }
    .features-box{
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        padding-bottom: 50px;
        .left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 50px;
            h1{
                font-family: "Roboto";
                font-weight: 500;
                color: #0B0B0B;
            }
            p{
                max-width:374px;
                margin-top: 24px;
                color: #787878;
                font-family: "Roboto";
                font-weight: 400;
                line-height: 28px;
            }
        }
        .right{
            width: 672px;
        }
    }
}


@media(max-width:1200px){
    .features{
        padding-top: 150px; 
        .features-wrapper{
          
    
            .partners{
                padding-top: 140px;
                padding-bottom: 50px;
                p{
                    max-width: 837px;
                    margin-right: auto;
                    margin-left: auto;
                    text-align: center;
                    margin-top: 24px;
                    color: #787878;
                    font-family: "Roboto";
                    font-weight: 400;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    
                    list-style: none;
                    margin-top: 60px;
                    li{
                        margin: 14px;
                    }
                }
                
            }
        }
        .features-box{
            
            
            .right{
                width: 500px;
            }
        }
    }
}

@media(max-width:950px){
    .features{
        padding-top: 100px; 
        .features-wrapper{
            .header{
                h1{
                    text-align: center;
                    font-family: "Roboto";
                    font-weight: 500;
                    color: #0B0B0B;
                }
                p{
                    max-width: 837px;
                    margin-top: 24px;
                    font-weight: 400;
                }
            }
    
            .partners{
                padding-top: 90px;
                padding-bottom: 50px;
                h1{
                    font-weight: 500;
                }
                p{
                    max-width: 837px;
                    margin-top: 24px;
                    font-weight: 400;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    
                    list-style: none;
                    margin-top: 60px;
                    li{
                        margin: 14px;
                    }
                }
                
            }
        }
        .features-box{
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            padding-bottom: 50px;
            .left{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-bottom: 50px;
                h1{
                }
                p{
                    max-width:374px;
                    margin-top: 24px;
                    line-height: 28px;
                }
            }
            .right{
                width: 450px;
            }
        }
    }
    
}

@media(max-width:850px){
    .features{
        padding-top: 100px; 
        .features-wrapper{
            .header{
                h1{
                    text-align: center;
                    font-family: "Roboto";
                    font-weight: 500;
                    color: #0B0B0B;
                }
                p{
                    max-width: 837px;
                    margin-top: 24px;
                    font-weight: 400;
                }
            }
    
            .partners{
                padding-top: 90px;
                padding-bottom: 50px;
                h1{
                    font-weight: 500;
                }
                p{
                    max-width: 837px;
                    margin-top: 24px;
                    font-weight: 400;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    
                    list-style: none;
                    margin-top: 60px;
                    li{
                        margin: 14px;
                    }
                }
                
            }
        }

        

        .features-box{
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            margin-top: 50px;
            padding-bottom: 50px;
            .left{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-bottom: 50px;
                h1{
                }
                p{
                    max-width:374px;
                    margin-top: 24px;
                    line-height: 28px;
                }
            }
            .right{
                width: 450px;
            }
        }
        .reverse{
            display: flex;
            flex-direction: column;
        }
    }
}

@media(max-width:550px){
    .features{
        padding-top: 80px;
        .container{
            padding: 0 16px;
        }
        .features-wrapper{
            .header{
                h1{
                    font-size: 24px;
                }
                p{
                    margin-top: 16px;
                    font-weight: 400;
                    line-height: 32px;
                }
            }
    
            .partners{
                padding-top: 80px;
                padding-bottom: 50px;
                h1{
                    font-weight: 500;
                    font-size: 24px;
                }
                p{
                    margin-top: 16px;
                    font-size: 16px;
                    line-height: 32px;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    
                    list-style: none;
                    margin-top: 24px;
                    li{
                        margin: 8px;
                    }
                }
                
            }
        }

        

        .features-box{
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            margin-top: 50px;
            padding-bottom: 0px;
            
            .left{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-bottom: 50px;
                h1{
                    font-size: 20px;
                    margin-top: 16px;
                }
                p{
                    margin-top: 16px;
                    line-height: 25px;
                    font-size: 16px;
                }
            }
            .right{
                width: 350px;
            }
        }
        .reverse{
            display: flex;
            flex-direction: column;
        }
    }
}