footer{
    background-color: #0B0B0B;
    padding-bottom: 60px;   
    .footer-wrapper{
        border: 1px solid transparent;
        .links{
            display: flex;
            list-style: none;
            margin-top: 60px;
            padding-bottom: 32px;
            width: 100%;
            border-bottom: 2px solid #545454;
            li{
                color: #fff;
                font-family: "Roboto";
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                margin-right: 16px;
                cursor: pointer;
            }
        }

        .footer-items{
            margin-top: 32px;
            ul{
                display: flex;
                justify-content: space-between;
                list-style: none;
                li{
                    p{
                        max-width: 251px;
                        font-family: "Roboto";
                        line-height: 24px;
                        font-size: 14px;
                        color: #fff;
                        margin-top: 32px;
                    }

                    span{
                        display: flex;
                        align-items: center;
                        font-family: "Roboto";
                        font-size: 12px;
                        color: #fff;
                        font-weight: 700;
                        margin-bottom: 26px;
                        .img{
                            margin-right: 10px;
                        }
                    }

                    .massengers{
                        display: flex;
                        align-items: center;
                        .img{
                            margin-left: 26px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}