.navbar{
    box-shadow: 0px 4px 25px rgba(11, 11, 11, 0.06);
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 3;
    width: 100%;
    
    .nav-wrapper{
        display: flex;
        align-items: center;
        height: 84px;
        justify-content: space-between;
        ul{
            list-style: none;
            display: flex;
            li{
                margin-left: 32px;
                font-family: "Roboto";
                font-size: 16px;
                color: #0B0B0B;
                font-weight: 400;
                cursor: pointer;
            }
        }
    }
}