.prices{
    padding-top: 150px;
    padding-bottom: 50px;
    .prices-wrapper{
        .header{
            h1{
                text-align: center;
                font-family: "Roboto";
                font-weight: 500;
                color: #0B0B0B;
            }
            p{
                max-width: 837px;
                margin-right: auto;
                margin-left: auto;
                text-align: center;
                margin-top: 24px;
                color: #787878;
                font-family: "Roboto";
                font-weight: 400;
            }
        }
        .pro{
            border: 1px solid #EBEBEB;
            max-width: 394px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 48px;
            padding: 24px 74px !important;
            border-radius: 16px;
            
            h2{
                font-size: 22px;
                font-family:"Roboto";
                color: #0B0B0B;
                margin-bottom: 16px;
            }
            h1{
                color: #0B0B0B;
                font-family: "Roboto";
                font-weight: 700;
                font-size: 58px;
                margin-bottom: 16px;
            }
           
            ul{
                li{
                    margin-bottom: 24px;
                    display: flex;
                    &:first-child{
                        margin-bottom: 16px;
                        line-height: 30px;
                        font-size: 16px;
                        p{
                            margin-left: 0;
                        }
                    }
                    p{
                        font-family: "Roboto";
                        font-size: 16px;
                        color: #0B0B0B;
                        margin-left: 14px;
                    }
                }
            }
        }
    }
}

@media(max-width:550px){
    .prices{
        padding-top: 80px;
        padding-bottom: 50px;
        .container{
            padding: 0 16px;
        }
        .prices-wrapper{
            .header{
                h1{
                    font-size: 24px;
                }
                p{
                    margin-top: 16px;
                    line-height: 32px;
                    font-size: 16px;
                }
            }
            .pro{
                border: 1px solid #EBEBEB;
                max-width: 364px;
                margin-right: auto;
                margin-left: auto;
                margin-top: 24px;
                padding: 40px 100px;
                border-radius: 16px;
                
                h2{
                    font-size: 22px;
                    font-family:"Roboto";
                    color: #0B0B0B;
                    margin-bottom: 16px;
                }
                h1{
                    color: #0B0B0B;
                    font-family: "Roboto";
                    font-weight: 700;
                    font-size: 58px;
                    margin-bottom: 16px;
                }
               
                ul{
                    li{
                        margin-bottom: 24px;
                        display: flex;
                        &:first-child{
                            margin-bottom: 16px;
                            p{
                                margin-left: 0;
                            }
                        }
                        p{
                            font-family: "Roboto";
                            font-size: 16px;
                            color: #0B0B0B;
                            margin-left: 14px;
                        }
                    }
                }
            }
        }
    }
}