.request{
    padding-bottom: 100px;
    padding-top: 150px;
    .request-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .left{
            padding-right: 100px;
            .header{
                border-bottom: 2px solid #E2E2E2;
                padding-bottom: 16px;
                h1{
                    font-size: 36px;
                    font-weight: 500;
                    font-family: "Roboto";
                    margin-bottom: 24px;
                    color: #0B0B0B;
                }
                p{
                    max-width: 538px;
                    font-family: "Roboto";
                    margin-bottom: 27px;
                    color: #787878;
                    line-height: 26px;
                    font-size: 18px;
                }
                span{
                    display: flex;
                    margin-bottom: 22px;
                    color: #0B0B0B;
                    font-family: "Roboto";
                    font-weight: 500;
                    align-items: center;
                    .img{
                        margin-right: 10px;
                    }
                }
            }

            h2{
                    font-size: 22px;
                    font-weight: 500;
                    font-family: "Roboto";
                    margin-top: 35px;
                    margin-bottom: 12px;
                    color: #0B0B0B;
            }
            p{
                    max-width: 538px;
                    font-family: "Roboto";
                    margin-bottom: 32px;
                    color: #787878;
                    line-height: 26px;
                    font-size: 16px;
            }
            .map-wrapper{
                width: 539px;
                height: 230px;
                border-radius: 16px;
                
                iframe{
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: 16px;
                }
            }
        }
        .right{
            padding-left: 100px;
            h1{
                    font-size: 36px;
                    font-weight: 500;
                    font-family: "Roboto";
                    margin-bottom: 24px;
                    color: #0B0B0B; 
            }
            p{
                max-width: 538px;
                font-family: "Roboto";
                margin-bottom: 27px;
                color: #787878;
                line-height: 26px;
                font-size: 18px;
            }
            form{
                display: flex;
                flex-direction: column;
                padding: 24px 50px;
                max-width: 470px;
                label{
                    color: #0B0B0B;
                    font-family: "Roboto";
                    font-size: 12px;
                    margin-bottom: 4px;
                    font-weight: 500;
                }
                input{
                    padding: 10px 16px;
                    border-radius: 20px;
                    border: none;
                    outline: none;
                    border: 1px solid #E2E2E2;
                    margin-bottom: 24px;
                    color: #0B0B0B;
                    font-family: "Roboto";
                    font-size: 14px;
                    &::placeholder{
                        font-family: "Roboto";
                        color: #989898;
                        font-size: 14px;
                    }
                }
                textarea{
                    resize: none;
                    height: 166px;
                    border-radius: 20px;
                    border: none;
                    outline: none;
                    border: 1px solid #E2E2E2;
                    margin-bottom: 24px;
                    padding: 16px;
                    color: #0B0B0B;
                    font-family: "Roboto";
                    font-size: 14px;
                
                    &::placeholder{
                        font-family: "Roboto";
                        color: #989898;
                        font-size: 14px;
                    }
                }

                .sender{
                    display: flex;
                    justify-content: space-between;
                    input{
                        min-width: 246px;
                    }
                    button{
                        width: 100px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 30px;
                        color: #0B0B0B;
                        font-family: "Roboto";
                        font-size: 14px;
                        font-weight: 500;
                        border: none;
                        outline: none;
                        background-color: #FFBB00;
                        color: #fff;
                        margin-left: 24px;
                        cursor: pointer;
                    }
                }
            }
            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

            /* Firefox */
            input[type=number] {
            -moz-appearance: textfield;
}
        }
    }
}